## Get json data from the API

In [1]:
import requests, pandas as pd, time

startTime = time.time()

# get sale data
response = requests.get('https://borrowcupapi.herokuapp.com/api/sale')
saleData = response.json()

print('Took', round(time.time() - startTime, 2), 'seconds to get Sale data.')
startTime = time.time()

# get return data
response = requests.get('https://borrowcupapi.herokuapp.com/api/return')
returnData = response.json()

print('Took', round(time.time() - startTime, 2), 'seconds to get Return data.')

Took 14.36 seconds to get Sale data.
Took 7.82 seconds to get Return data.

## Convert sale data to dataframe

In [3]:
saleDF = pd.DataFrame.from_dict(saleData, orient='columns')
#saleDF.head()

## Drop irrelevant columns and rename some others

In [4]:
saleDF = saleDF.drop(['scanned_at', 'scanned_at_melbourne_date_time'], axis=1)
saleDF = saleDF.rename(columns={"scanned_at_melbourne_date": "sale_date", "scanned_at_melbourne_time": "sale_time", "id": "sale_id"})
saleDF.head()

   cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
0      105  3908879092        1     2506.0  22/10/2019  1:24:43 PM
1      105  1070578934        2      492.0  22/10/2019  1:25:04 PM
2      105  8282349427        3        NaN  22/10/2019  1:25:20 PM
3      105  1649441458        4        NaN  22/10/2019  1:25:59 PM
4      105  6428914941        5      362.0  22/10/2019  1:26:03 PM

In [16]:
l = []
for index, row in saleDF[saleDF.duplicated(['cafe_id', 'cup_id', 'sale_date', 'sale_time'])].iterrows():
    print(saleDF[(saleDF.cafe_id == row.cafe_id) & (saleDF.cup_id == row.cup_id) & (saleDF.sale_date == row.sale_date) & (saleDF.sale_time == row.sale_time)], '\n')
#saleDF[(saleDF['cafe_id'] == 103) & (saleDF['cup_id'] == 8597300709) & (saleDF['sale_date'] == '31/10/2019') & (saleDF['sale_time'] == '11:52:20 AM')]

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
810      107  1963808658      841        NaN  29/10/2019  4:39:00 PM
821      107  1963808658      852        NaN  29/10/2019  4:39:00 PM

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
811      107  7868197044      842     1902.0  29/10/2019  5:07:46 PM
822      107  7868197044      853        NaN  29/10/2019  5:07:46 PM

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
812      107  9842551524      843      834.0  30/10/2019  8:32:43 AM
823      107  9842551524      854        NaN  30/10/2019  8:32:43 AM

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
813      107  4396781473      844     1600.0  30/10/2019  8:44:26 AM
824      107  4396781473      855        NaN  30/10/2019  8:44:26 AM

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
814      107  8574643943      845      758.0  30/10/2019  9:13:44 AM
825      107  8574643943      856     1254.0  30/10/2019  9:13:44 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
815      107  3815501729      846      741.0  30/10/2019  10:50:47 AM
826      107  3815501729      857     1370.0  30/10/2019  10:50:47 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
816      107  3285775926      847     1032.0  30/10/2019  11:24:42 AM
827      107  3285775926      858     1461.0  30/10/2019  11:24:42 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
817      107  2807842711      848        NaN  30/10/2019  11:25:17 AM
828      107  2807842711      859        NaN  30/10/2019  11:25:17 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
818      107  5146816924      849     1628.0  30/10/2019  12:12:21 PM
829      107  5146816924      860        NaN  30/10/2019  12:12:21 PM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
899      103  3691041712      930        NaN  31/10/2019  11:49:17 AM
909      103  3691041712      940        NaN  31/10/2019  11:49:17 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
900      103  8597300709      931     1118.0  31/10/2019  11:52:20 AM
910      103  8597300709      941        NaN  31/10/2019  11:52:20 AM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
901      103  2596112676      932     1187.0  31/10/2019  12:39:52 PM
911      103  2596112676      942     1474.0  31/10/2019  12:39:52 PM

     cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
902      103  7880273927      933     1053.0  31/10/2019  12:45:05 PM
912      103  7880273927      943     1535.0  31/10/2019  12:45:05 PM

     cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
903      103  9112316455      934     1132.0  31/10/2019  1:56:29 PM
913      103  9112316455      944     1710.0  31/10/2019  1:56:29 PM

     cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
904      103  1590897100      935     1296.0  1/11/2019  7:57:53 AM
914      103  1590897100      945     1871.0  1/11/2019  7:57:53 AM

     cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
905      103  9481563197      936     1212.0  1/11/2019  7:58:24 AM
915      103  9481563197      946        NaN  1/11/2019  7:58:24 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1536      107  4965569945     1567     1955.0  7/11/2019  1:16:58 PM
1546      107  4965569945     1577     2515.0  7/11/2019  1:16:58 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1537      107  5087772149     1568     2187.0  7/11/2019  1:36:39 PM
1547      107  5087772149     1578        NaN  7/11/2019  1:36:39 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1538      107  5874266044     1569     1941.0  7/11/2019  2:35:22 PM
1548      107  5874266044     1579        NaN  7/11/2019  2:35:22 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1539      107  3080575715     1570     2060.0  7/11/2019  2:53:58 PM
1549      107  3080575715     1580        NaN  7/11/2019  2:53:58 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1540      107  1456103693     1571     1910.0  7/11/2019  2:54:22 PM
1550      107  1456103693     1581     3265.0  7/11/2019  2:54:22 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1541      107  1424430804     1572     2201.0  7/11/2019  3:08:32 PM
1551      107  1424430804     1582        NaN  7/11/2019  3:08:32 PM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
1542      107  5944311997     1573     1970.0  7/11/2019  5:22:28 PM
1552      107  5944311997     1583        NaN  7/11/2019  5:22:28 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1643      107  7929213609     1674        NaN  10/11/2019  10:35:13 AM
1673      107  7929213609     1704        NaN  10/11/2019  10:35:13 AM
1684      107  7929213609     1715        NaN  10/11/2019  10:35:13 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1644      107  9544086219     1675     2321.0  10/11/2019  2:03:07 PM
1674      107  9544086219     1705     2665.0  10/11/2019  2:03:07 PM
1685      107  9544086219     1716        NaN  10/11/2019  2:03:07 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1645      107  2070178233     1676     2357.0  11/11/2019  9:03:27 AM
1675      107  2070178233     1706     4087.0  11/11/2019  9:03:27 AM
1686      107  2070178233     1717        NaN  11/11/2019  9:03:27 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1646      107  1542314095     1677     2435.0  11/11/2019  9:04:36 AM
1676      107  1542314095     1707        NaN  11/11/2019  9:04:36 AM
1687      107  1542314095     1718        NaN  11/11/2019  9:04:36 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1647      107  7682541856     1678     2345.0  11/11/2019  9:12:47 AM
1677      107  7682541856     1708     4628.0  11/11/2019  9:12:47 AM
1688      107  7682541856     1719     5172.0  11/11/2019  9:12:47 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1648      107  7193959339     1679     2350.0  11/11/2019  9:19:01 AM
1678      107  7193959339     1709     4207.0  11/11/2019  9:19:01 AM
1689      107  7193959339     1720        NaN  11/11/2019  9:19:01 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1649      107  9644634749     1680        NaN  11/11/2019  9:53:15 AM
1679      107  9644634749     1710        NaN  11/11/2019  9:53:15 AM
1690      107  9644634749     1721        NaN  11/11/2019  9:53:15 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1650      107  6975719490     1681     2389.0  11/11/2019  10:51:53 AM
1680      107  6975719490     1711        NaN  11/11/2019  10:51:53 AM
1691      107  6975719490     1722        NaN  11/11/2019  10:51:53 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1651      107  1481282502     1682     2562.0  11/11/2019  10:52:08 AM
1681      107  1481282502     1712        NaN  11/11/2019  10:52:08 AM
1692      107  1481282502     1723        NaN  11/11/2019  10:52:08 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1652      107  7715925138     1683     2439.0  11/11/2019  12:40:10 PM
1682      107  7715925138     1713        NaN  11/11/2019  12:40:10 PM
1693      107  7715925138     1724        NaN  11/11/2019  12:40:10 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1643      107  7929213609     1674        NaN  10/11/2019  10:35:13 AM
1673      107  7929213609     1704        NaN  10/11/2019  10:35:13 AM
1684      107  7929213609     1715        NaN  10/11/2019  10:35:13 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1644      107  9544086219     1675     2321.0  10/11/2019  2:03:07 PM
1674      107  9544086219     1705     2665.0  10/11/2019  2:03:07 PM
1685      107  9544086219     1716        NaN  10/11/2019  2:03:07 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1645      107  2070178233     1676     2357.0  11/11/2019  9:03:27 AM
1675      107  2070178233     1706     4087.0  11/11/2019  9:03:27 AM
1686      107  2070178233     1717        NaN  11/11/2019  9:03:27 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1646      107  1542314095     1677     2435.0  11/11/2019  9:04:36 AM
1676      107  1542314095     1707        NaN  11/11/2019  9:04:36 AM
1687      107  1542314095     1718        NaN  11/11/2019  9:04:36 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1647      107  7682541856     1678     2345.0  11/11/2019  9:12:47 AM
1677      107  7682541856     1708     4628.0  11/11/2019  9:12:47 AM
1688      107  7682541856     1719     5172.0  11/11/2019  9:12:47 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1648      107  7193959339     1679     2350.0  11/11/2019  9:19:01 AM
1678      107  7193959339     1709     4207.0  11/11/2019  9:19:01 AM
1689      107  7193959339     1720        NaN  11/11/2019  9:19:01 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1649      107  9644634749     1680        NaN  11/11/2019  9:53:15 AM
1679      107  9644634749     1710        NaN  11/11/2019  9:53:15 AM
1690      107  9644634749     1721        NaN  11/11/2019  9:53:15 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1650      107  6975719490     1681     2389.0  11/11/2019  10:51:53 AM
1680      107  6975719490     1711        NaN  11/11/2019  10:51:53 AM
1691      107  6975719490     1722        NaN  11/11/2019  10:51:53 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1651      107  1481282502     1682     2562.0  11/11/2019  10:52:08 AM
1681      107  1481282502     1712        NaN  11/11/2019  10:52:08 AM
1692      107  1481282502     1723        NaN  11/11/2019  10:52:08 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1652      107  7715925138     1683     2439.0  11/11/2019  12:40:10 PM
1682      107  7715925138     1713        NaN  11/11/2019  12:40:10 PM
1693      107  7715925138     1724        NaN  11/11/2019  12:40:10 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1738      101  7338819185     1769     2611.0  12/11/2019  8:50:52 AM
1782      101  7338819185     1813     3367.0  12/11/2019  8:50:52 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1739      101  1786785467     1770     2590.0  12/11/2019  8:52:54 AM
1783      101  1786785467     1814     3931.0  12/11/2019  8:52:54 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1740      101  4172347070     1771     2588.0  12/11/2019  9:41:13 AM
1784      101  4172347070     1815        NaN  12/11/2019  9:41:13 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1741      101  6085434339     1772     2572.0  12/11/2019  9:41:16 AM
1785      101  6085434339     1816        NaN  12/11/2019  9:41:16 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1742      101  8443546062     1773        NaN  12/11/2019  9:41:20 AM
1786      101  8443546062     1817        NaN  12/11/2019  9:41:20 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1743      101  7764646729     1774     2620.0  12/11/2019  9:41:24 AM
1787      101  7764646729     1818        NaN  12/11/2019  9:41:24 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1744      101  1899422452     1775     2615.0  12/11/2019  9:41:30 AM
1788      101  1899422452     1819        NaN  12/11/2019  9:41:30 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1745      101  6728753411     1776     2570.0  12/11/2019  9:41:34 AM
1789      101  6728753411     1820        NaN  12/11/2019  9:41:34 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1746      101  1466979136     1777     3875.0  12/11/2019  9:41:39 AM
1790      101  1466979136     1821        NaN  12/11/2019  9:41:39 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1747      101  5177056440     1778        NaN  12/11/2019  12:20:44 PM
1791      101  5177056440     1822        NaN  12/11/2019  12:20:44 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1748      101  3783807648     1779     2582.0  12/11/2019  12:20:49 PM
1792      101  3783807648     1823     2849.0  12/11/2019  12:20:49 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1749      101  5392246959     1780     2617.0  12/11/2019  12:20:52 PM
1793      101  5392246959     1824        NaN  12/11/2019  12:20:52 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1957      103  1424430804     1988     3355.0  14/11/2019  11:19:56 AM
1968      103  1424430804     1999     4440.0  14/11/2019  11:19:56 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1958      103  6803443352     1989        NaN  14/11/2019  11:34:22 AM
1969      103  6803443352     2000        NaN  14/11/2019  11:34:22 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
1959      103  2473200592     1990     2861.0  14/11/2019  12:41:07 PM
1970      103  2473200592     2001     3483.0  14/11/2019  12:41:07 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1960      103  4295809654     1991     3642.0  14/11/2019  1:05:07 PM
1971      103  4295809654     2002        NaN  14/11/2019  1:05:07 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1961      103  8581766057     1992     3036.0  14/11/2019  1:09:36 PM
1972      103  8581766057     2003        NaN  14/11/2019  1:09:36 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1962      103  3875186270     1993     2855.0  14/11/2019  1:17:14 PM
1973      103  3875186270     2004     4145.0  14/11/2019  1:17:14 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1963      103  3055699191     1994        NaN  14/11/2019  1:37:17 PM
1974      103  3055699191     2005        NaN  14/11/2019  1:37:17 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1964      103  8687916578     1995        NaN  14/11/2019  1:49:09 PM
1975      103  8687916578     2006        NaN  14/11/2019  1:49:09 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
1965      103  3287664351     1996        NaN  14/11/2019  2:01:09 PM
1976      103  3287664351     2007        NaN  14/11/2019  2:01:09 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
2184      107  8691299164     2215     2952.0  18/11/2019  12:11:12 PM
2195      107  8691299164     2226     3881.0  18/11/2019  12:11:12 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
2185      107  6354626649     2216        NaN  18/11/2019  12:30:58 PM
2196      107  6354626649     2227        NaN  18/11/2019  12:30:58 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2186      107  8467245430     2217        NaN  18/11/2019  2:17:55 PM
2197      107  8467245430     2228        NaN  18/11/2019  2:17:55 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2187      107  4084966697     2218     3376.0  18/11/2019  2:18:01 PM
2198      107  4084966697     2229        NaN  18/11/2019  2:18:01 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2188      107  4160818217     2219        NaN  18/11/2019  2:18:06 PM
2199      107  4160818217     2230        NaN  18/11/2019  2:18:06 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2189      107  8191713945     2220        NaN  18/11/2019  2:18:13 PM
2200      107  8191713945     2231        NaN  18/11/2019  2:18:13 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2190      107  9605387603     2221        NaN  18/11/2019  2:18:17 PM
2201      107  9605387603     2232        NaN  18/11/2019  2:18:17 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
2191      107  3294684952     2222        NaN  18/11/2019  2:49:29 PM
2202      107  3294684952     2233        NaN  18/11/2019  2:49:29 PM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
2192      107  5876182884     2223        NaN  19/11/2019  10:23:53 AM
2203      107  5876182884     2234        NaN  19/11/2019  10:23:53 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3122      105  3555657844     3153        NaN  29/11/2019  8:22:37 AM
3166      105  3555657844     3197        NaN  29/11/2019  8:22:37 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3123      105  7223797027     3154     3554.0  3/12/2019  8:35:27 AM
3167      105  7223797027     3198        NaN  3/12/2019  8:35:27 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3124      105  1590850598     3155     3893.0  4/12/2019  9:16:48 AM
3168      105  1590850598     3199        NaN  4/12/2019  9:16:48 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3125      105  2405109157     3156     4095.0  4/12/2019  9:16:57 AM
3169      105  2405109157     3200        NaN  4/12/2019  9:16:57 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3126      105  8687037696     3157     4069.0  5/12/2019  9:33:04 AM
3170      105  8687037696     3201     4456.0  5/12/2019  9:33:04 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3127      105  2279233683     3158     4267.0  9/12/2019  8:24:39 AM
3171      105  2279233683     3202     4993.0  9/12/2019  8:24:39 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3128      105  3437027945     3159     4303.0  9/12/2019  8:46:40 AM
3172      105  3437027945     3203        NaN  9/12/2019  8:46:40 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3129      105  8024302133     3160     4307.0  9/12/2019  8:46:48 AM
3173      105  8024302133     3204     5071.0  9/12/2019  8:46:48 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3130      105  6354626649     3161     4280.0  9/12/2019  8:46:50 AM
3174      105  6354626649     3205        NaN  9/12/2019  8:46:50 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3131      105  5215728382     3162     4286.0  9/12/2019  8:47:03 AM
3175      105  5215728382     3206     4885.0  9/12/2019  8:47:03 AM

      cafe_id      cup_id  sale_id  return_id  sale_date   sale_time
3132      105  7381512613     3163     4275.0  9/12/2019  8:47:09 AM
3176      105  7381512613     3207        NaN  9/12/2019  8:47:09 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3211      101  4048798397     3242     4633.0  11/12/2019  7:17:44 AM
3224      101  4048798397     3255        NaN  11/12/2019  7:17:44 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3212      101  3859046301     3243     4726.0  11/12/2019  7:17:47 AM
3225      101  3859046301     3256     5093.0  11/12/2019  7:17:47 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3213      101  6230580080     3244        NaN  11/12/2019  7:17:52 AM
3226      101  6230580080     3257        NaN  11/12/2019  7:17:52 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3214      101  2914729170     3245        NaN  11/12/2019  7:17:56 AM
3227      101  2914729170     3258        NaN  11/12/2019  7:17:56 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3215      101  9326157939     3246     4942.0  11/12/2019  7:18:00 AM
3228      101  9326157939     3259        NaN  11/12/2019  7:18:00 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3216      101  1757951329     3247     4706.0  11/12/2019  7:18:04 AM
3229      101  1757951329     3260        NaN  11/12/2019  7:18:04 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3217      101  2902461805     3248     5149.0  11/12/2019  7:18:08 AM
3230      101  2902461805     3261        NaN  11/12/2019  7:18:08 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3218      101  6675569910     3249     4448.0  11/12/2019  7:18:11 AM
3231      101  6675569910     3262     5130.0  11/12/2019  7:18:11 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3265      101  7423146886     3296        NaN  11/12/2019  8:45:17 AM
3276      101  7423146886     3307        NaN  11/12/2019  8:45:17 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3266      101  6403894152     3297     4629.0  11/12/2019  8:45:23 AM
3277      101  6403894152     3308        NaN  11/12/2019  8:45:23 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3267      101  3558436333     3298     4602.0  11/12/2019  8:45:26 AM
3278      101  3558436333     3309        NaN  11/12/2019  8:45:26 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3268      101  7850603602     3299     4686.0  11/12/2019  8:45:33 AM
3279      101  7850603602     3310        NaN  11/12/2019  8:45:33 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3269      101  5367797290     3300     4594.0  11/12/2019  8:45:39 AM
3280      101  5367797290     3311     5125.0  11/12/2019  8:45:39 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3270      101  6483634641     3301     4603.0  11/12/2019  11:31:58 AM
3281      101  6483634641     3312        NaN  11/12/2019  11:31:58 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3271      101  6733433998     3302     4635.0  11/12/2019  11:32:05 AM
3282      101  6733433998     3313        NaN  11/12/2019  11:32:05 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3272      101  1038721747     3303     4640.0  11/12/2019  11:32:13 AM
3283      101  1038721747     3314     4999.0  11/12/2019  11:32:13 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3273      101  9211145765     3304     4600.0  11/12/2019  11:32:16 AM
3284      101  9211145765     3315     5052.0  11/12/2019  11:32:16 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3274      101  9842551524     3305     4837.0  12/12/2019  12:47:58 PM
3285      101  9842551524     3316        NaN  12/12/2019  12:47:58 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3275      101  7000114624     3306     4836.0  12/12/2019  3:10:33 PM
3286      101  7000114624     3317        NaN  12/12/2019  3:10:33 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3387      103  6612676600     3418     4881.0  12/12/2019  9:39:45 AM
3408      103  6612676600     3439        NaN  12/12/2019  9:39:45 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3388      103  2688651532     3419     4847.0  12/12/2019  10:04:30 AM
3409      103  2688651532     3440        NaN  12/12/2019  10:04:30 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3389      103  7520833077     3420     4869.0  12/12/2019  10:24:14 AM
3410      103  7520833077     3441        NaN  12/12/2019  10:24:14 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3390      103  9693520176     3421     4806.0  12/12/2019  10:31:16 AM
3411      103  9693520176     3442        NaN  12/12/2019  10:31:16 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3391      103  4836869395     3422     4974.0  12/12/2019  10:37:20 AM
3412      103  4836869395     3443        NaN  12/12/2019  10:37:20 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3392      103  5392246959     3423     4879.0  12/12/2019  11:50:17 AM
3413      103  5392246959     3444        NaN  12/12/2019  11:50:17 AM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3393      103  9261217996     3424     5155.0  13/12/2019  9:12:56 AM
3414      103  9261217996     3445        NaN  13/12/2019  9:12:56 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3394      103  5288881478     3425        NaN  13/12/2019  10:18:17 AM
3415      103  5288881478     3446        NaN  13/12/2019  10:18:17 AM

      cafe_id      cup_id  sale_id  return_id   sale_date    sale_time
3395      103  3966276611     3426        NaN  17/12/2019  12:25:04 PM
3416      103  3966276611     3447        NaN  17/12/2019  12:25:04 PM

      cafe_id      cup_id  sale_id  return_id   sale_date   sale_time
3396      103  8754346056     3427        NaN  18/12/2019  9:53:16 AM
3417      103  8754346056     3448        NaN  18/12/2019  9:53:16 AM

## Convert return data to dataframe

In [135]:
from pandas.io.json import json_normalize
returnDF = pd.DataFrame.from_dict(json_normalize(returnData), orient='columns')
#returnDF.head()

## Drop irrelevant columns and rename some other

In [136]:
returnDF = returnDF.drop(['scanned_at', 'bin_id', 'cafe_id', 'dishwasher_id'], axis=1)
returnDF = returnDF.rename(columns={"scanned_at_melbourne_date_time.date": "return_date", "scanned_at_melbourne_date_time.time": "return_time", "id": "return_id"})
returnDF.head()

       cup_id  return_id return_date return_time
0  5649991371          1  22/10/2019  3:38:31 PM
1  6978535743          2  22/10/2019  3:38:34 PM
2  4671290001          3  22/10/2019  3:38:35 PM
3  9351307204          4  22/10/2019  3:38:36 PM
4  2499057498          5  22/10/2019  3:38:38 PM

## Merge sale and return dataframes (full-outer join)

In [137]:
mergedDF = saleDF.merge(returnDF, how='outer', on='return_id')
mergedDF.head(20)

,cafe_id,cup_id_x,sale_id,return_id,sale_date,sale_time,cup_id_y,return_date,return_time
0,105.0,3.908879e+09,1.0,2506.0,22/10/2019,1:24:43 PM,3.908879e+09,12/11/2019,5:52:07 PM
1,105.0,1.070579e+09,2.0,492.0,22/10/2019,1:25:04 PM,1.070579e+09,28/10/2019,5:35:36 PM
2,105.0,8.282349e+09,3.0,NaN,22/10/2019,1:25:20 PM,NaN,NaN,NaN
3,105.0,1.649441e+09,4.0,NaN,22/10/2019,1:25:59 PM,NaN,NaN,NaN
4,105.0,5.355694e+09,7.0,NaN,22/10/2019,1:26:23 PM,NaN,NaN,NaN
5,105.0,8.098407e+09,8.0,NaN,22/10/2019,1:26:29 PM,NaN,NaN,NaN
6,105.0,9.460296e+09,9.0,NaN,22/10/2019,1:26:34 PM,NaN,NaN,NaN
7,105.0,4.292788e+09,10.0,NaN,22/10/2019,1:26:38 PM,NaN,NaN,NaN
8,104.0,4.209788e+09,42.0,NaN,22/10/2019,2:58:49 PM,NaN,NaN,NaN
9,104.0,3.025579e+09,43.0,NaN,22/10/2019,2:58:55 PM,NaN,NaN,NaN
10,104.0,8.937622e+09,46.0,NaN,23/10/2019,8:25:15 AM,NaN,NaN,NaN
11,104.0,1.460678e+09,47.0,NaN,23/10/2019,8:25:21 AM,NaN,NaN,NaN
12,104.0,7.970248e+09,48.0,NaN,23/10/2019,8:25:24 AM,NaN,NaN,NaN
13,104.0,4.392047e+09,49.0,NaN,23/10/2019,8:25:27 AM,NaN,NaN,NaN
14,104.0,7.710921e+09,50.0,NaN,23/10/2019,8:25:35 AM,NaN,NaN,NaN
15,105.0,5.622365e+09,53.0,NaN,22/10/2019,1:26:46 PM,NaN,NaN,NaN
16,105.0,2.884929e+09,55.0,NaN,22/10/2019,1:26:52 PM,NaN,NaN,NaN
17,105.0,9.460296e+09,56.0,NaN,22/10/2019,1:57:59 PM,NaN,NaN,NaN
18,105.0,5.355694e+09,58.0,NaN,22/10/2019,3:20:10 PM,NaN,NaN,NaN
19,105.0,5.622365e+09,59.0,NaN,22/10/2019,4:27:54 PM,NaN,NaN,NaN

## Get sale date-time in one column and change column data-type to _dateTime64_

In [138]:
mergedDF['date_time_concat'] = mergedDF['sale_date'] + ' ' + mergedDF['sale_time']
mergedDF['sale_date_time'] = pd.to_datetime(mergedDF['date_time_concat'], dayfirst=True)
mergedDF = mergedDF.drop(['sale_date', 'sale_time', 'date_time_concat'], axis=1)
mergedDF.head()

,cafe_id,cup_id_x,sale_id,return_id,cup_id_y,return_date,return_time,sale_date_time
0,105.0,3.908879e+09,1.0,2506.0,3.908879e+09,12/11/2019,5:52:07 PM,2019-10-22 13:24:43
1,105.0,1.070579e+09,2.0,492.0,1.070579e+09,28/10/2019,5:35:36 PM,2019-10-22 13:25:04
2,105.0,8.282349e+09,3.0,NaN,NaN,NaN,NaN,2019-10-22 13:25:20
3,105.0,1.649441e+09,4.0,NaN,NaN,NaN,NaN,2019-10-22 13:25:59
4,105.0,5.355694e+09,7.0,NaN,NaN,NaN,NaN,2019-10-22 13:26:23

## Get return date-time in one column and change column data-type to _dateTime64_

In [139]:
mergedDF['date_time_concat'] = mergedDF['return_date'] + ' ' + mergedDF['return_time']
mergedDF['return_date_time'] = pd.to_datetime(mergedDF['date_time_concat'], dayfirst=True)
mergedDF = mergedDF.drop(['return_date', 'return_time', 'date_time_concat'], axis=1)
mergedDF.head()

,cafe_id,cup_id_x,sale_id,return_id,cup_id_y,sale_date_time,return_date_time
0,105.0,3.908879e+09,1.0,2506.0,3.908879e+09,2019-10-22 13:24:43,2019-11-12 17:52:07
1,105.0,1.070579e+09,2.0,492.0,1.070579e+09,2019-10-22 13:25:04,2019-10-28 17:35:36
2,105.0,8.282349e+09,3.0,NaN,NaN,2019-10-22 13:25:20,NaT
3,105.0,1.649441e+09,4.0,NaN,NaN,2019-10-22 13:25:59,NaT
4,105.0,5.355694e+09,7.0,NaN,NaN,2019-10-22 13:26:23,NaT

## Change data-type of some columns to Integer from Float denoting NaNs by zero and add a flag column - _modified_ - with zeroes for all rows

### Modified flag status:

| Flag  | Meaning |
| :---: | :---: |
| `0`  | Sale and return info are both actual and nothing is inferred  |
| `1`  | Sale date-time is inferred and is not actual  |
| `2`  | Return date-time is inferred and is not actual  |

In [140]:
mergedDF.fillna({'cafe_id': 0, 'cup_id_x': 0, 'sale_id': 0, 'return_id': 0, 'cup_id_y': 0}, inplace=True, downcast='infer')
mergedDF['modified'] = 0
mergedDF.tail()

,cafe_id,cup_id_x,sale_id,return_id,cup_id_y,sale_date_time,return_date_time,modified
6457,0,0,0,5203,1639536232,NaT,2019-12-18 17:09:13,0
6458,0,0,0,5204,3025579417,NaT,2019-12-18 17:09:14,0
6459,0,0,0,5205,1456103693,NaT,2019-12-18 17:09:15,0
6460,0,0,0,5206,5420248343,NaT,2019-12-18 17:09:16,0
6461,0,0,0,5207,5374527718,NaT,2019-12-18 17:09:18,0

In [141]:
def compare(row):
    if not pd.isna(row['sale_date_time']) and not pd.isna(row['return_date_time']):
        if row['sale_date_time'] < row['return_date_time']:
            return row['sale_date_time']
        else:
            return row['return_date_time']
    elif pd.isna(row['sale_date_time']):
        return row['return_date_time']
    else:
        return row['sale_date_time']

mergedDF['timestamp'] = mergedDF.apply(lambda row: compare(row), axis = 1)
mergedDF = mergedDF.sort_values(by='timestamp')
mergedDF

,cafe_id,cup_id_x,sale_id,return_id,cup_id_y,sale_date_time,return_date_time,modified,timestamp
0,105,3908879092,1,2506,3908879092,2019-10-22 13:24:43,2019-11-12 17:52:07,0,2019-10-22 13:24:43
1,105,1070578934,2,492,1070578934,2019-10-22 13:25:04,2019-10-28 17:35:36,0,2019-10-22 13:25:04
2,105,8282349427,3,0,0,2019-10-22 13:25:20,NaT,0,2019-10-22 13:25:20
3,105,1649441458,4,0,0,2019-10-22 13:25:59,NaT,0,2019-10-22 13:25:59
1257,105,6428914941,5,362,6428914941,2019-10-22 13:26:03,2019-10-23 10:53:32,0,2019-10-22 13:26:03
1258,105,9431256415,6,431,9431256415,2019-10-22 13:26:17,2019-10-28 17:20:53,0,2019-10-22 13:26:17
4,105,5355693984,7,0,0,2019-10-22 13:26:23,NaT,0,2019-10-22 13:26:23
5,105,8098407055,8,0,0,2019-10-22 13:26:29,NaT,0,2019-10-22 13:26:29
6,105,9460295705,9,0,0,2019-10-22 13:26:34,NaT,0,2019-10-22 13:26:34
7,105,4292788311,10,0,0,2019-10-22 13:26:38,NaT,0,2019-10-22 13:26:38
1259,105,2723124456,11,2153,2723124456,2019-10-22 13:26:42,2019-11-08 19:11:57,0,2019-10-22 13:26:42
15,105,5622365188,53,0,0,2019-10-22 13:26:46,NaT,0,2019-10-22 13:26:46
1264,105,5159803993,54,309,5159803993,2019-10-22 13:26:49,2019-10-23 10:36:20,0,2019-10-22 13:26:49
16,105,2884929197,55,0,0,2019-10-22 13:26:52,NaT,0,2019-10-22 13:26:52
1297,103,5818795633,124,595,5818795633,2019-10-22 13:42:59,2019-10-28 17:48:57,0,2019-10-22 13:42:59
53,103,9572264964,125,0,0,2019-10-22 13:43:12,NaT,0,2019-10-22 13:43:12
133,102,3233175733,271,0,0,2019-10-22 13:53:40,NaT,0,2019-10-22 13:53:40
17,105,9460295705,56,0,0,2019-10-22 13:57:59,NaT,0,2019-10-22 13:57:59
54,103,9179162933,126,0,0,2019-10-22 14:00:39,NaT,0,2019-10-22 14:00:39
1298,103,7218669383,127,786,7218669383,2019-10-22 14:04:37,2019-10-31 18:16:18,0,2019-10-22 14:04:37
55,103,1749128449,128,0,0,2019-10-22 14:07:31,NaT,0,2019-10-22 14:07:31
56,103,1073225781,129,0,0,2019-10-22 14:07:53,NaT,0,2019-10-22 14:07:53
1276,101,5944311997,84,400,5944311997,2019-10-22 14:08:01,2019-10-23 11:05:30,0,2019-10-22 14:08:01
57,103,2295187756,130,0,0,2019-10-22 14:19:39,NaT,0,2019-10-22 14:19:39
58,103,9298861131,131,0,0,2019-10-22 14:22:45,NaT,0,2019-10-22 14:22:45
1346,106,1840968937,216,536,1840968937,2019-10-22 14:35:24,2019-10-28 17:38:09,0,2019-10-22 14:35:24
244,108,9678996946,499,0,0,2019-10-22 14:58:47,NaT,0,2019-10-22 14:58:47
8,104,4209787792,42,0,0,2019-10-22 14:58:49,NaT,0,2019-10-22 14:58:49
9,104,3025579417,43,0,0,2019-10-22 14:58:55,NaT,0,2019-10-22 14:58:55
1260,104,2219260268,44,658,2219260268,2019-10-22 14:58:58,2019-10-29 15:27:39,0,2019-10-22 14:58:58
...,...,...,...,...,...,...,...,...,...
6448,0,0,0,5185,8597300709,NaT,2019-12-18 16:54:19,0,2019-12-18 16:54:19
6449,0,0,0,5186,2040822132,NaT,2019-12-18 16:54:21,0,2019-12-18 16:54:21
6450,0,0,0,5187,1882041239,NaT,2019-12-18 16:54:22,0,2019-12-18 16:54:22
6451,0,0,0,5188,2885041696,NaT,2019-12-18 16:54:24,0,2019-12-18 16:54:24
6452,0,0,0,5194,1706420092,NaT,2019-12-18 16:54:33,0,2019-12-18 16:54:33
6453,0,0,0,5198,3642166427,NaT,2019-12-18 16:54:55,0,2019-12-18 16:54:55
6454,0,0,0,5200,7223193762,NaT,2019-12-18 17:09:05,0,2019-12-18 17:09:05
6455,0,0,0,5201,5146816924,NaT,2019-12-18 17:09:06,0,2019-12-18 17:09:06
6456,0,0,0,5202,3625279519,NaT,2019-12-18 17:09:11,0,2019-12-18 17:09:11
6457,0,0,0,5203,1639536232,NaT,2019-12-18 17:09:13,0,2019-12-18 17:09:13
6458,0,0,0,5204,3025579417,NaT,2019-12-18 17:09:14,0,2019-12-18 17:09:14
6459,0,0,0,5205,1456103693,NaT,2019-12-18 17:09:15,0,2019-12-18 17:09:15
6460,0,0,0,5206,5420248343,NaT,2019-12-18 17:09:16,0,2019-12-18 17:09:16
6461,0,0,0,5207,5374527718,NaT,2019-12-18 17:09:18,0,2019-12-18 17:09:18
1221,101,1937014451,3435,0,0,2019-12-19 07:15:19,NaT,0,2019-12-19 07:15:19
1222,101,9125616213,3436,0,0,2019-12-19 07:15:24,NaT,0,2019-12-19 07:15:24
1223,101,3884409242,3437,0,0,2019-12-19 07:15:27,NaT,0,2019-12-19 07:15:27
1224,101,4986645608,3438,0,0,2019-12-19 07:15:31,NaT,0,2019-12-19 07:15:31
1245,109,2215073891,3460,0,0,2019-12-19 09:45:15,NaT,0,2019-12-19 09:45:15
1246,109,3628492108,3461,0,0,2019-12-19 09:45:36,NaT,0,2019-12-19 09:45:36
1247,109,5031310136,3462,0,0,2019-12-19 09:45:41,NaT,0,2019-12-19 09:45:41
1248,109,6803443352,3463,0,0,2019-12-19 09:45:43,NaT,0,2019-12-19 09:45:43
1249,109,6445110223,3464,0,0,2019-12-19 09:45:53,NaT,0,2019-12-19 09:45:53
1250,109,3556555722,3465,0,0,2019-12-19 09:46:13,NaT,0,2019-12-19 09:46:13
1251,109,3436703377,3466,0,0,2019-12-19 09:46:18,NaT,0,2019-12-19 09:46:18
1252,109,4068205175,3467,0,0,2019-12-19 09:46:33,NaT,0,2019-12-19 09:46:33
1253,109,8425545448,3468,0,0,2019-12-19 09:46:36,NaT,0,2019-12-19 09:46:36
1254,109,5263452691,3469,0,0,2019-12-19 09:46:57,NaT,0,2019-12-19 09:46:57
1255,109,6497301910,3470,0,0,2019-12-19 09:47:02,NaT,0,2019-12-19 09:47:02
1256,109,5392246959,3471,0,0,2019-12-19 09:47:03,NaT,0,2019-12-19 09:47:03

## Infer scan date-times of sales/returns where they are unknown

#### Process:
1. For each row, identify whether return or sale info is missing
2. If return info is missing:
    - Get cup id and sale scan date-time
    - For that cup id, try to find the next sale recorded
    - If next sale is found:
        - Get next sale date-time
        - Find time difference between the cup's current sale and the next sale found.
        - If the next sale happened within 6 hours:
            - It is probably a case of repeated scans by cafe staff and the current sale record should be discarded. Thus, add that row index to the `drop_rows` list.
        - If the next sale happened after more than 6 hours:
            - We will infer that a return between the two sales must have happened and set a return date-time of a time 2 hours before the next sale date-time to the record at hand.
            - Set the modified flag to `2` to denote that the return date-time is inferred and not actual.

3. If sale info is missing:
    - Get cup id and return scan date-time
    - For that cup id, try to find the previous return recorded
    - If previous return is found:
        - Get previous return date-time
        - Find time difference between the cup's previous return found and the current return.
        - If the previous return happened within 18 hours:
            - It is improbable that the cup would have sold and returned so quickly and the current record should be discarded. Thus, add that row index to the `drop_rows` list.
        - If the previous return happened after more than 18 hours:
            - We will infer that a sale between the two return must have happened and set a sale date-time of 3 P.M. for the date next to the previous return date to the record at hand.
            - Set the modified flag to `1` to denote that the sale date-time is inferred and not actual.

In [142]:
drop_rows = []
for index, row in mergedDF.iterrows():
    if row['return_id'] == 0:
        cup_id = row['cup_id_x']
        sale_date_time = row['sale_date_time']
        filteredDF = mergedDF[(mergedDF['cup_id_x'] == cup_id) & (mergedDF['sale_date_time'] > sale_date_time)].sort_values(by='sale_date_time')
        if len(filteredDF.index) > 0:
            next_sale_date_time = filteredDF.iloc[0, 5]
            time_diff = next_sale_date_time - sale_date_time

            # check time difference between the 2 scans
            if time_diff <= pd.Timedelta(hours=6):

                # potential case of a repeated scan, thus we will remove that record
                drop_rows.append(index)
            else:
                mergedDF.loc[index, 'return_date_time'] = next_sale_date_time - pd.Timedelta(hours=2)
                mergedDF.loc[index, 'modified'] = 2
    elif row['sale_id'] == 0:
        cup_id = row['cup_id_y']
        return_date_time = row['return_date_time']
        filteredDF = mergedDF[(mergedDF['cup_id_y'] == cup_id) & (mergedDF['return_date_time'] < return_date_time)].sort_values(by='return_date_time', ascending = False)
        if len(filteredDF.index) > 0:
            previous_return_date_time = filteredDF.iloc[0, 6]
            time_diff = return_date_time - previous_return_date_time
            
            # check time difference between the 2 scans
            if time_diff <= pd.Timedelta(hours=18):

                # potential case of a repeated scan, thus we will remove that record
                drop_rows.append(index)
            else:
                mergedDF.loc[index, 'sale_date_time'] = (previous_return_date_time + pd.Timedelta(days=1)).replace(hour=15, minute=0, second=0)
                mergedDF.loc[index, 'modified'] = 1
drop_rows

[2,
 4,
 5,
 6,
 15,
 17,
 18,
 27,
 3441,
 3443,
 3444,
 3445,
 3446,
 3447,
 3448,
 3449,
 3450,
 3451,
 3452,
 3453,
 3455,
 3456,
 3457,
 3458,
 3459,
 3460,
 3461,
 3462,
 3464,
 3466,
 3467,
 3468,
 3469,
 3470,
 3471,
 3472,
 3473,
 3474,
 3475,
 3476,
 3478,
 3479,
 3480,
 3481,
 3483,
 3485,
 3486,
 3487,
 3488,
 3489,
 3492,
 3493,
 3494,
 3495,
 3496,
 3497,
 3498,
 3499,
 3500,
 3501,
 3502,
 3503,
 3504,
 3505,
 3506,
 3507,
 3508,
 3509,
 3510,
 3511,
 3512,
 3513,
 3514,
 3515,
 3516,
 3517,
 3518,
 3519,
 3521,
 3522,
 3523,
 3524,
 3525,
 3526,
 3527,
 3528,
 3529,
 3530,
 3531,
 3532,
 3533,
 3534,
 3536,
 3537,
 3538,
 3539,
 3540,
 3541,
 3542,
 3543,
 3544,
 3545,
 3546,
 3548,
 3549,
 3551,
 3552,
 3553,
 3554,
 3555,
 3556,
 3557,
 3558,
 3559,
 3560,
 3561,
 3562,
 3563,
 3564,
 3565,
 3566,
 3567,
 3568,
 3569,
 3570,
 3571,
 3572,
 3573,
 3574,
 3575,
 3576,
 3577,
 19,
 3578,
 3580,
 3581,
 3583,
 3584,
 3586,
 3588,
 3591,
 3593,
 3594,
 3595,
 3596,
 3597,
 3599,
 3600,
 3602,
 3603,
 3604,
 3605,
 3606,
 3607,
 3608,
 3609,
 3610,
 3611,
 3612,
 3613,
 3614,
 3615,
 3616,
 3617,
 3618,
 3619,
 3620,
 3621,
 3622,
 3623,
 3624,
 3625,
 3626,
 3627,
 3628,
 3629,
 3630,
 3631,
 3632,
 3633,
 3634,
 3636,
 3637,
 3638,
 3639,
 3640,
 3641,
 3642,
 3643,
 3644,
 3645,
 3647,
 3648,
 3649,
 3650,
 3651,
 3652,
 3653,
 3654,
 3655,
 3656,
 3657,
 3658,
 3659,
 3660,
 3667,
 3668,
 3669,
 3670,
 3671,
 3672,
 3673,
 3674,
 3676,
 3677,
 3678,
 3679,
 3680,
 3681,
 3683,
 3685,
 3686,
 3687,
 3688,
 3689,
 3694,
 3695,
 3696,
 3700,
 3701,
 3702,
 3717,
 3718,
 3719,
 3722,
 3723,
 3730,
 3731,
 3732,
 3733,
 3734,
 3735,
 3736,
 3737,
 3738,
 3739,
 3741,
 3744,
 3745,
 3749,
 3750,
 3751,
 3752,
 3753,
 3754,
 3755,
 3756,
 3757,
 3758,
 3759,
 3760,
 3763,
 3764,
 3765,
 3766,
 3767,
 3769,
 3770,
 3771,
 3772,
 3773,
 3774,
 3775,
 3776,
 3777,
 3780,
 3782,
 3783,
 3785,
 3787,
 3788,
 3789,
 3790,
 3791,
 3792,
 3793,
 3795,
 3796,
 3797,
 3798,
 3799,
 3801,
 3802,
 3803,
 3804,
 3806,
 3807,
 3808,
 3809,
 3810,
 3812,
 3813,
 3814,
 3815,
 3816,
 3817,
 3818,
 3819,
 3820,
 3821,
 3822,
 3824,
 3825,
 3827,
 3830,
 3831,
 3832,
 3833,
 3834,
 3835,
 3836,
 3837,
 3838,
 3839,
 3840,
 3841,
 3842,
 3844,
 3845,
 3846,
 3847,
 3848,
 3849,
 3850,
 3851,
 3852,
 3853,
 3854,
 3855,
 3856,
 3857,
 3858,
 92,
 114,
 246,
 182,
 210,
 215,
 236,
 237,
 230,
 249,
 254,
 261,
 279,
 273,
 274,
 275,
 288,
 281,
 311,
 283,
 284,
 294,
 319,
 293,
 286,
 287,
 296,
 297,
 298,
 299,
 301,
 302,
 303,
 325,
 326,
 3859,
 3860,
 3861,
 3862,
 3863,
 3864,
 3865,
 3866,
 3867,
 3868,
 3869,
 3870,
 3871,
 3872,
 3873,
 3874,
 3875,
 3876,
 3877,
 3878,
 3879,
 3880,
 3881,
 3882,
 3883,
 3884,
 3885,
 3886,
 3887,
 3888,
 3889,
 3890,
 3891,
 3892,
 3893,
 3894,
 3895,
 3896,
 3897,
 3898,
 3899,
 3901,
 3902,
 3903,
 3904,
 3905,
 3906,
 3907,
 3908,
 3909,
 3911,
 3912,
 3913,
 3914,
 3915,
 3916,
 3917,
 3918,
 3919,
 3920,
 3921,
 3922,
 3923,
 3924,
 3925,
 3926,
 3927,
 3928,
 3929,
 3930,
 3931,
 3932,
 3933,
 3934,
 3935,
 3936,
 3937,
 3938,
 3939,
 3940,
 3941,
 3942,
 3943,
 3944,
 3945,
 3946,
 3947,
 3949,
 3950,
 3951,
 3953,
 313,
 306,
 308,
 309,
 327,
 328,
 317,
 318,
 323,
 335,
 336,
 351,
 3954,
 3955,
 3956,
 3957,
 3958,
 3959,
 3960,
 3961,
 3962,
 3963,
 3964,
 3965,
 3966,
 3967,
 3968,
 3969,
 3970,
 3971,
 3972,
 3973,
 3974,
 3975,
 3976,
 3977,
 3978,
 3979,
 3980,
 3981,
 3982,
 3983,
 3984,
 3985,
 3986,
 3987,
 3988,
 3989,
 3990,
 3991,
 3992,
 3993,
 3994,
 3996,
 3998,
 3999,
 4000,
 4001,
 4002,
 4003,
 4004,
 4005,
 344,
 360,
 362,
 363,
 345,
 364,
 365,
 366,
 361,
 358,
 367,
 389,
 390,
 410,
 391,
 392,
 382,
 371,
 383,
 384,
 374,
 375,
 379,
 393,
 385,
 386,
 387,
 4006,
 4007,
 4008,
 4010,
 4011,
 4012,
 4013,
 4015,
 4016,
 4017,
 4018,
 4019,
 4020,
 4021,
 4022,
 4024,
 4025,
 4026,
 4027,
 4028,
 4029,
 4030,
 4031,
 4032,
 4033,
 4034,
 4035,
 4036,
 4037,
 4038,
 4039,
 4040,
 4041,
 4042,
 4043,
 4044,
 4045,
 4046,
 4047,
 4048,
 4049,
 4050,
 4053,
 4054,
 4055,
 4056,
 4057,
 4058,
 4059,
 4060,
 4061,
 4062,
 4063,
 4064,
 4065,
 4066,
 4067,
 4068,
 4069,
 4070,
 4071,
 4072,
 4073,
 4074,
 4075,
 4076,
 4077,
 4078,
 4079,
 4080,
 4081,
 4082,
 4083,
 4084,
 4085,
 4086,
 4087,
 4088,
 4089,
 4090,
 4091,
 4092,
 4093,
 4094,
 4095,
 4096,
 4097,
 4098,
 4099,
 4100,
 4101,
 4102,
 4103,
 4104,
 4105,
 4106,
 4107,
 4108,
 4109,
 4110,
 388,
 536,
 537,
 540,
 542,
 543,
 396,
 402,
 404,
 411,
 412,
 414,
 416,
 447,
 448,
 450,
 451,
 415,
 421,
 431,
 4111,
 4112,
 4113,
 4114,
 4115,
 4116,
 4117,
 4118,
 4119,
 4120,
 4121,
 4122,
 4123,
 4124,
 4125,
 4126,
 4127,
 4128,
 4129,
 4130,
 4131,
 4132,
 4133,
 4134,
 4135,
 4136,
 4137,
 4138,
 4139,
 4140,
 4141,
 4142,
 4143,
 4144,
 4145,
 4146,
 4147,
 4148,
 4149,
 4150,
 4151,
 4152,
 4153,
 4154,
 4155,
 4156,
 4157,
 4158,
 4159,
 4160,
 4162,
 4163,
 4164,
 4165,
 4166,
 4167,
 4168,
 4169,
 4170,
 4171,
 4172,
 4173,
 4174,
 4175,
 4176,
 4177,
 4178,
 4179,
 4180,
 4181,
 4182,
 4183,
 4184,
 4185,
 4186,
 4187,
 4188,
 4189,
 4190,
 4191,
 4193,
 4194,
 4195,
 4196,
 4198,
 4199,
 4200,
 4201,
 4202,
 4203,
 4204,
 4205,
 4206,
 4207,
 4208,
 4209,
 4210,
 4211,
 4212,
 4213,
 4214,
 4215,
 4216,
 4217,
 428,
 429,
 430,
 422,
 452,
 427,
 433,
 435,
 469,
 434,
 454,
 437,
 441,
 4218,
 4219,
 4220,
 4221,
 4222,
 4223,
 4224,
 4225,
 4227,
 4228,
 4229,
 4231,
 4232,
 4233,
 4234,
 4235,
 4237,
 4238,
 4239,
 4240,
 4241,
 4242,
 4243,
 4244,
 4245,
 4246,
 4247,
 4248,
 4249,
 4250,
 4251,
 4252,
 4253,
 4255,
 4256,
 4257,
 4259,
 4260,
 4261,
 4262,
 4263,
 4265,
 4266,
 4267,
 4269,
 4270,
 4271,
 442,
 443,
 471,
 445,
 446,
 461,
 473,
 4272,
 4273,
 4274,
 4275,
 4276,
 4277,
 4278,
 4279,
 4280,
 4281,
 4282,
 463,
 4283,
 4284,
 4285,
 4286,
 4287,
 4288,
 4289,
 4290,
 4291,
 4292,
 4293,
 4294,
 4295,
 4296,
 4297,
 4298,
 4299,
 4300,
 4301,
 4302,
 4303,
 4304,
 4305,
 4306,
 4307,
 4308,
 4309,
 4310,
 4311,
 4312,
 4313,
 4314,
 4315,
 4316,
 4317,
 4318,
 4319,
 4321,
 4322,
 4323,
 4325,
 4327,
 4328,
 4329,
 4330,
 4331,
 4332,
 4334,
 4335,
 4336,
 4337,
 464,
 457,
 455,
 456,
 491,
 466,
 4338,
 4339,
 4340,
 4341,
 4342,
 4343,
 4344,
 4345,
 4346,
 4347,
 4348,
 4349,
 4350,
 4352,
 4353,
 4354,
 4355,
 4356,
 4357,
 4358,
 4359,
 4360,
 4361,
 4362,
 4363,
 4364,
 4365,
 4366,
 4367,
 4368,
 4369,
 4372,
 4373,
 4374,
 465,
 4375,
 4377,
 4379,
 4381,
 4382,
 4383,
 4388,
 4390,
 4392,
 4393,
 4395,
 4397,
 4398,
 4399,
 4400,
 4403,
 4404,
 4405,
 4406,
 4407,
 4408,
 4409,
 4410,
 4411,
 4412,
 4413,
 4414,
 4415,
 4416,
 4417,
 4420,
 4421,
 4423,
 4425,
 4427,
 467,
 468,
 483,
 484,
 485,
 477,
 488,
 4428,
 4429,
 4430,
 4431,
 4433,
 4434,
 ...]

In [122]:
len(drop_rows)

107

In [126]:
mergedDF = mergedDF.drop(drop_rows)

In [127]:
mergedDF[(mergedDF['modified'] == 0) & (mergedDF['sale_id'] != 0) & (mergedDF['return_id'] == 0)]

,cafe_id,cup_id_x,sale_id,return_id,cup_id_y,sale_date_time,return_date_time,modified,timestamp
55,103,1749128449,128,0,0,2019-10-22 14:07:31,NaT,0,2019-10-22 14:07:31
56,103,1073225781,129,0,0,2019-10-22 14:07:53,NaT,0,2019-10-22 14:07:53
244,108,9678996946,499,0,0,2019-10-22 14:58:47,NaT,0,2019-10-22 14:58:47
48,107,8382863800,114,0,0,2019-10-22 15:57:44,NaT,0,2019-10-22 15:57:44
19,105,5622365188,59,0,0,2019-10-22 16:27:54,NaT,0,2019-10-22 16:27:54
31,109,5815307158,79,0,0,2019-10-23 07:43:20,NaT,0,2019-10-23 07:43:20
62,103,3003359336,142,0,0,2019-10-23 08:02:54,NaT,0,2019-10-23 08:02:54
37,101,9487601951,92,0,0,2019-10-23 09:08:27,NaT,0,2019-10-23 09:08:27
69,103,3380994906,162,0,0,2019-10-23 09:09:51,NaT,0,2019-10-23 09:09:51
24,105,7345315554,71,0,0,2019-10-23 09:27:08,NaT,0,2019-10-23 09:27:08
26,105,3022756786,73,0,0,2019-10-23 09:27:17,NaT,0,2019-10-23 09:27:17
74,103,8722217036,169,0,0,2019-10-23 09:50:23,NaT,0,2019-10-23 09:50:23
77,103,6339745835,172,0,0,2019-10-23 09:53:41,NaT,0,2019-10-23 09:53:41
81,103,4473688108,178,0,0,2019-10-23 10:41:22,NaT,0,2019-10-23 10:41:22
118,104,1036530376,253,0,0,2019-10-23 10:52:28,NaT,0,2019-10-23 10:52:28
113,109,7265254787,244,0,0,2019-10-23 11:54:24,NaT,0,2019-10-23 11:54:24
162,107,2979941893,336,0,0,2019-10-23 13:25:14,NaT,0,2019-10-23 13:25:14
163,107,5805731931,337,0,0,2019-10-23 13:25:20,NaT,0,2019-10-23 13:25:20
94,103,6672873596,210,0,0,2019-10-23 13:49:06,NaT,0,2019-10-23 13:49:06
123,103,4605515549,261,0,0,2019-10-23 15:25:18,NaT,0,2019-10-23 15:25:18
164,107,2011124663,340,0,0,2019-10-23 16:01:54,NaT,0,2019-10-23 16:01:54
128,103,4615991329,266,0,0,2019-10-24 07:46:49,NaT,0,2019-10-24 07:46:49
122,104,9177851497,259,0,0,2019-10-24 07:46:59,NaT,0,2019-10-24 07:46:59
131,103,1345986219,269,0,0,2019-10-24 07:54:51,NaT,0,2019-10-24 07:54:51
144,104,6978535743,296,0,0,2019-10-24 08:16:17,NaT,0,2019-10-24 08:16:17
183,109,4264561091,383,0,0,2019-10-24 08:29:30,NaT,0,2019-10-24 08:29:30
172,104,6194553775,362,0,0,2019-10-24 08:40:46,NaT,0,2019-10-24 08:40:46
151,103,2356635574,319,0,0,2019-10-24 09:14:02,NaT,0,2019-10-24 09:14:02
153,103,1959053378,321,0,0,2019-10-24 09:24:59,NaT,0,2019-10-24 09:24:59
154,103,4416571279,322,0,0,2019-10-24 09:26:12,NaT,0,2019-10-24 09:26:12
...,...,...,...,...,...,...,...,...,...
1211,109,7709234817,3415,0,0,2019-12-18 09:47:43,NaT,0,2019-12-18 09:47:43
1212,109,9564262252,3416,0,0,2019-12-18 09:47:47,NaT,0,2019-12-18 09:47:47
1234,103,8754346056,3448,0,0,2019-12-18 09:53:16,NaT,0,2019-12-18 09:53:16
1215,103,8754346056,3427,0,0,2019-12-18 09:53:16,NaT,0,2019-12-18 09:53:16
1236,109,8056140061,3451,0,0,2019-12-18 10:26:25,NaT,0,2019-12-18 10:26:25
1237,109,3320805425,3452,0,0,2019-12-18 10:26:36,NaT,0,2019-12-18 10:26:36
1238,109,6624697153,3453,0,0,2019-12-18 10:26:41,NaT,0,2019-12-18 10:26:41
1239,109,6078547346,3454,0,0,2019-12-18 10:26:49,NaT,0,2019-12-18 10:26:49
1240,109,4028551766,3455,0,0,2019-12-18 10:26:52,NaT,0,2019-12-18 10:26:52
1241,109,3783807648,3456,0,0,2019-12-18 10:27:00,NaT,0,2019-12-18 10:27:00
1242,109,1693597976,3457,0,0,2019-12-18 10:27:15,NaT,0,2019-12-18 10:27:15
1243,109,9826848162,3458,0,0,2019-12-18 10:27:20,NaT,0,2019-12-18 10:27:20
1244,109,6073604958,3459,0,0,2019-12-18 10:27:31,NaT,0,2019-12-18 10:27:31
1235,103,8929337011,3449,0,0,2019-12-18 11:29:40,NaT,0,2019-12-18 11:29:40
1221,101,1937014451,3435,0,0,2019-12-19 07:15:19,NaT,0,2019-12-19 07:15:19
1222,101,9125616213,3436,0,0,2019-12-19 07:15:24,NaT,0,2019-12-19 07:15:24
1223,101,3884409242,3437,0,0,2019-12-19 07:15:27,NaT,0,2019-12-19 07:15:27
1224,101,4986645608,3438,0,0,2019-12-19 07:15:31,NaT,0,2019-12-19 07:15:31
1245,109,2215073891,3460,0,0,2019-12-19 09:45:15,NaT,0,2019-12-19 09:45:15
1246,109,3628492108,3461,0,0,2019-12-19 09:45:36,NaT,0,2019-12-19 09:45:36
1247,109,5031310136,3462,0,0,2019-12-19 09:45:41,NaT,0,2019-12-19 09:45:41
1248,109,6803443352,3463,0,0,2019-12-19 09:45:43,NaT,0,2019-12-19 09:45:43
1249,109,6445110223,3464,0,0,2019-12-19 09:45:53,NaT,0,2019-12-19 09:45:53
1250,109,3556555722,3465,0,0,2019-12-19 09:46:13,NaT,0,2019-12-19 09:46:13
1251,109,3436703377,3466,0,0,2019-12-19 09:46:18,NaT,0,2019-12-19 09:46:18
1252,109,4068205175,3467,0,0,2019-12-19 09:46:33,NaT,0,2019-12-19 09:46:33
1253,109,8425545448,3468,0,0,2019-12-19 09:46:36,NaT,0,2019-12-19 09:46:36
1254,109,5263452691,3469,0,0,2019-12-19 09:46:57,NaT,0,2019-12-19 09:46:57
1255,109,6497301910,3470,0,0,2019-12-19 09:47:02,NaT,0,2019-12-19 09:47:02
1256,109,5392246959,3471,0,0,2019-12-19 09:47:03,NaT,0,2019-12-19 09:47:03

In [128]:
len(mergedDF[(mergedDF['modified'] == 0) & (mergedDF['sale_id'] != 0) & (mergedDF['return_id'] == 0)].cup_id_x.unique())

430

In [94]:
df = pd.DataFrame({
    'C': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
    'A': [1, 2, None, 4, None, 7, 9],
    'B': [3, 4, 5, None, 6, None, 8]
})
df

   C    A    B
0  a  1.0  3.0
1  b  2.0  4.0
2  c  NaN  5.0
3  d  4.0  NaN
4  e  NaN  6.0
5  f  7.0  NaN
6  g  9.0  8.0

In [95]:
def compare(row):
    if not pd.isna(row['A']) and not pd.isna(row['B']):
        if row['A'] < row['B']:
            return row['A']
        else:
            return row['B']
    elif pd.isna(row['A']):
        return row['B']
    else:
        return row['A']

df['D'] = df.apply(lambda row: compare(row), axis = 1)

In [96]:
if 1 > 2: 
    print('y') 
    
else: print('n')

n

In [103]:
df = df.sort_values(by='D')

In [101]:
pd.Timestamp('2019-01-01T12:11:11') > pd.Timestamp('2019-01-02T12:00:00')

False

In [106]:
df.drop('D', axis=1, inplace=True)

In [118]:
df

   C    A    B
0  a  1.0  3.0
1  b  2.0  4.0
3  d  4.0  NaN
2  c  NaN  5.0
4  e  NaN  6.0
5  f  7.0  NaN
6  g  9.0  8.0

In [119]:
for index, row in df.iterrows():
    print(index)

0
1
3
2
4
5
6

In [132]:
mergedDF.index != 0

array([False,  True,  True, ...,  True,  True,  True])